* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#header {
    height: 100vh;
    background-image: url("./img/Face\ \(1\).jpg");
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
}

.logo {
    margin: 20px;
    height: 60px;
}
